Localization
{
	zh-cn
	{
		// X-20-Moroz 部件本地化 - 中文
		// X20Adapter (1.875m适配器)
		#X20Moroz_X20Adapter_title = X20发射适配器 1.875
		#X20Moroz_X20Adapter_manufacturer = 雷神设计局
		#X20Moroz_X20Adapter_description = 一个漂亮的适配器，用于发射您的X20 Moroz太空飞机。
		
		// X20_Butt_Adapter125 (1.25m适配器)
		#X20Moroz_X20_Butt_Adapter125_title = X20发射适配器 1.25
		#X20Moroz_X20_Butt_Adapter125_manufacturer = 雷神设计局
		#X20Moroz_X20_Butt_Adapter125_description = 一个漂亮的适配器，用于发射您的X20 Moroz太空飞机。
		
		// X20Butt (服务连接器)
		#X20Moroz_X20Butt_title = X20-SC "银鸟"服务连接器
		#X20Moroz_X20Butt_manufacturer = 雷神设计局
		#X20Moroz_X20Butt_description = 为您的航天器提供动力的电源模块。
		
		// X20CrewCabin (乘员舱)
		#X20Moroz_X20CrewCabin_title = X20-CC "海沃兹"乘员舱
		#X20Moroz_X20CrewCabin_manufacturer = 雷神设计局
		#X20Moroz_X20CrewCabin_description = 由于运送新工人到我们工厂的火车通常是单程的，我们将一些多余的火车车厢改装成了太空飞机的乘员舱。
		
		// X20CargoBay (货舱)
		#X20Moroz_X20CargoBay_title = X20-CRG "博米"货舱
		#X20Moroz_X20CargoBay_manufacturer = 雷神设计局
		#X20Moroz_X20CargoBay_description = 虽然它可能装不了太多东西，但凭借其豪华的软垫内饰和网格地板，CRG-X可以轻松用作经济实惠的宇航员宿舍或您不断发展的太空计划的存储空间。
		
		// X20Cockpit (驾驶舱)
		#X20Moroz_X20Cockpit_title = X20-C "莫罗兹"驾驶舱
		#X20Moroz_X20Cockpit_manufacturer = 雷神设计局
		#X20Moroz_X20Cockpit_description = 当我们的研究部门带着他们设计的太空飞机计划找到我们时，我们最初持怀疑态度。然而，当我们看到敌人窃取了设计并开始制造他们自己的复制品时，我们知道这一定值得追求。
		
		// X20Cockpit2 (Sänger驾驶舱)
		#X20Moroz_X20Cockpit2_title = X20-D "桑格尔"驾驶舱
		#X20Moroz_X20Cockpit2_manufacturer = 雷神设计局
		#X20Moroz_X20Cockpit2_description = 这款"莫罗兹"驾驶舱的变体，现在包含了先进的制导辅助技术，并配备了内部动量轮和容量适中的电池。尽管有人担心有一天，自主航天器核心可能会变得有自我意识并反抗其创造者，甚至可能非常固执地拒绝打开舱门，但Probodobodyne坚持认为这些无人驾驶的AI驱动设备是未来的方向。不过我们还是保留了飞行员座椅，以防万一...
		
		// X20Fin (尾翼)
		#X20Moroz_X20Fin_title = X20尾翼
		#X20Moroz_X20Fin_manufacturer = 雷神设计局
		#X20Moroz_X20Fin_description = 一个大型气动表面，带有内置的小型副翼。它非常轻便，提供的升力比AV-R8更大，但较小的控制面积意味着它的转向速度不够快。
		
		// X20Flap (升降舵)
		#X20Moroz_X20Flap_title = X20升降舵
		#X20Moroz_X20Flap_manufacturer = 雷神设计局
		#X20Moroz_X20Flap_description = 由手头最优质的材料制成，这些控制翼面保证飞行器能够操作。然而，研究表明缺乏大气*可能*会略微影响功能。恕不退款。
		
		// X20_Payload_CrewTube (有效载荷乘员管)
		#X20Moroz_X20_Payload_CrewTube_title = 有效载荷乘员管
		#X20Moroz_X20_Payload_CrewTube_manufacturer = 雷神设计局
		#X20Moroz_X20_Payload_CrewTube_description = 虽然它可能装不了太多东西，但凭借其豪华的软垫内饰和网格地板，CRG-X可以轻松兼作经济实惠的宇航员宿舍或您不断发展的太空计划的存储空间。
		
		// X20_Shield (窗户罩)
		#X20Moroz_X20_Shield_title = X20"百叶窗"窗户罩
		#X20Moroz_X20_Shield_manufacturer = 雷神设计局
		#X20Moroz_X20_Shield_description = 一个大型气动防热盾，用于保护您的驾驶舱。着陆前分离。
		
		// X20_Skid (着陆滑橇)
		#X20Moroz_X20_Skid_title = X20小型着陆滑橇
		#X20Moroz_X20_Skid_manufacturer = 雷神设计局
		#X20Moroz_X20_Skid_description = 高性能可收放着陆滑橇。如果我们不告诉您，您永远不会知道这些部件大部分是从报废机械中回收的...哦。
		
		// X20Wing (三角翼)
		#X20Moroz_X20Wing_title = X20-DW三角翼
		#X20Moroz_X20Wing_manufacturer = 雷神设计局
		#X20Moroz_X20Wing_description = 采用顶级的隔热屏蔽，这款机翼保证至少比主要竞争对手的寿命长两倍，否则退款。
		
		// X20Adapter125 (1.25m适配器)
		#X20Moroz_X20Adapter125_title = X20转1.25米适配器
		#X20Moroz_X20Adapter125_manufacturer = 雷神设计局
		#X20Moroz_X20Adapter125_description = 通用的Mk1到X20适配器。
	}
}
