Localization
{
	zh-cn
	{
	
#autoLOC_KAX_600000 = e50 电动螺旋桨发动机
#autoLOC_KAX_600001 = 一款电动机。

#autoLOC_KAX_600002 = 喷气垂直发动机
#autoLOC_KAX_600003 = 一款吸气式垂直起降喷气发动机。此型号可进行表面安装，以便在任何方向上实现最佳推力输出。特别适用于垂直起降飞行器。

#autoLOC_KAX_600004 = KH-1 Kuey 主旋翼
#autoLOC_KAX_600005 = 久经考验的 KH-1 是一款多功能轻型直升机旋翼。简单来说，它能让东西飞起来而不需要火焰。我们的科学家发现，将其推力矢量与飞行器的重心对齐通常会带来最佳效果。

#autoLOC_KAX_600006 = NS90 尾桨
#autoLOC_KAX_600007 = 坎巴拉工程师制造 NS90 是为了抵消直升机主旋翼的旋转扭矩。但在研发完成后他们才发现主旋翼根本不产生旋转扭矩！当这一意外现象仍在研究中时，飞行器设计师们还是选择使用 NS90，仅仅是因为“它看起来不错”。它也可以作为一个有用的小型螺旋桨。

#autoLOC_KAX_600008 = C2-B Horizon 驾驶舱
#autoLOC_KAX_600009 = 从搜索救援行动到货物运输，C2-B Horizon 是一款随时准备承担最艰巨空中任务的多面手。

#autoLOC_KAX_600010 = 重型结构机身
#autoLOC_KAX_600011 = 一个 2 米机身。不携带燃料；仅作为结构元件存在。因此，由于加强筋的存在，它更轻、更坚固。

#autoLOC_KAX_600012 = 重型机身 - 喷气燃料
#autoLOC_KAX_600013 = 一个 2 米机身，为航天飞机携带燃料。

#autoLOC_KAX_600014 = 重型尾梁
#autoLOC_KAX_600015 = 一个适用于大型飞行器的空气动力学尾部，设计用于适配所有标准 2 米连接点。

#autoLOC_KAX_600016 = D-25 星型发动机
#autoLOC_KAX_600017 = 一个大块头的、耗油的星型发动机。沉重、肮脏、低效，但动力强劲。

#autoLOC_KAX_600018 = A7 AeroSport 发动机
#autoLOC_KAX_600019 = 一款轻量级涡轮增压发动机，小身材却有着强劲动力。

#autoLOC_KAX_600020 = PT100 涡轮螺旋桨发动机
#autoLOC_KAX_600021 = 一款标准的吸气式涡轮螺旋桨发动机。这种轻便且省油的喷气发动机替代品在标准巡航速度和高度下性能最佳。

#autoLOC_KAX_6000022 = 复古推进器 运动型
#autoLOC_KAX_6000023 = 一款用于运动飞机的复古推进器 S 型。又一个气缸，飞得更快，比 B 型略重，油耗几乎是其两倍。一个小型发动机和一个几乎没什么用的螺旋桨组合在一起，为您的小型飞机提供一点点推力。注意：配有手工雕刻的浮木螺旋桨，请勿将螺旋桨弄湿。

#autoLOC_KAX_6000024 = 复古推进器
#autoLOC_KAX_6000025 = 一款基础型复古推进器 B 型。一个小型发动机和一个几乎没什么用的螺旋桨组合在一起，为您的小型飞机提供一点点推力。注意：配有手工雕刻的浮木螺旋桨，请勿将螺旋桨弄湿。

#autoLOC_KAX_6000026 = 复古推进器 超级运动型
#autoLOC_KAX_6000027 = 一款用于更快速运动飞机的复古推进器 超级运动型。2 片桨叶，再加一个气缸，我们想知道还能加多少个？只有未来能告诉我们。工程师预测未来可能最多有六个气缸！飞得更快，比 S 型略重，油耗几乎是其两倍。一个小型发动机和一个还算有点用的螺旋桨组合在一起，为您的小型运动飞机提供一点点推力。注意：配有手工雕刻的浮木螺旋桨，请勿将螺旋桨弄湿。

#autoLOC_KAX_6000028 = 复古推进器 重型
#autoLOC_KAX_6000029 = 一款重型复古推进器，非常适合小型货运飞机。4 片桨叶，再加一个气缸，我们想知道还能加多少个？只有未来能告诉我们。工程师预测未来可能最多有六个气缸！飞得更快，比 S 型略重，油耗几乎是其两倍。一个小型发动机和一个还算有点用的螺旋桨组合在一起，为您的小型运动飞机提供一点点推力。注意：配有手工雕刻的浮木螺旋桨，请勿将螺旋桨弄湿。
#loc_KAX_modname = KAX

#loc_KAX_agent_title = 坎巴拉飞机拓展者有限公司
#loc_KAX_agent_description = `坎巴拉飞机拓展者有限公司`成立于2012年，总部位于坎巴拉航天中心，等待土地扩建和更大的厂房。多年来，他们秘密运作，只关心其隐居主人的项目。自2018年起，`坎巴拉飞机拓展者有限公司`成为/L Aerospace航空部门的一部分。

#loc_KAX_part_manufacturer = 坎巴拉飞机拓展者有限公司

#loc_kax_part_radialPropLC_title = D-45 星型发动机（长整流罩）
#loc_kax_part_radialPropLC_desc = 一个更大的、耗油的D-45星型发动机，带有长整流罩。更重、更脏、更低效，但动力也更强劲。
	}
}