// zh-cn.cfg v1.0.3.0
// SpaceY Corp (SYC)
// created: 05 August 2024
// updated: 

// This file:
//   CC BY-SA 4.0
//   created by [zhangyuesai](https://github.com/zhangyuesai)
//   translation courtesy of [zhangyuesai](https://github.com/zhangyuesai)

Localization
{
	zh-cn
	{
	// SpaceY Corp (SYC)
		#SYC-Agency-titl = SpaceY技术公司 // SpaceY Technologies Corporation
		#SYC-Agency-desc = 在绝大多数方程式中，"Y"都是因变量，因而比"X"更高级。正是抱着这一信念，SpaceY的创始人决定，该公司应把重点完全放在“垂直”重型运载火箭上。为什么要去“外”太空？因为它就在那里！ // Believing that "Y" is superior to "X" in most equations, the founder of SpaceY decided that this company's focus should be entirely on vertical heavy-lift vehicles. Space, why? Because it's there!		
		#SYC-Agency-descR = 在绝大多数方程式中，"Y"都是因变量，因而比"X"更高级。正是抱着这一信念，SpaceY的创始人决定，该公司应把重点完全放在“垂直”重型运载火箭上。为什么要去“外”太空？因为它就在那里！ // Believing that "Y" is superior to "X" in most equations, the founder of SpaceY decided that this company's focus should be entirely on vertical heavy-lift vehicles. Space, why? Because it's there!
		#SYC-Agency-tags = syc spyc spacey // syc spyc spacey
 
	// tags
		#SYC-eng-tags = ascent launch main propuls rocket // ascent launch main propuls rocket
		#SYC-srb-tags = moar (more motor rocket srb solid boost // moar (more motor rocket srb solid boost
		#SYC-srbc-tags = moar (more motor rocket srb solid boost separat stag detach nose cone cap aero // moar (more motor rocket srb solid boost separat stag detach nose cone cap aero

	// DefaultActionsGroups
		#SYC-MDAG-SAS-name = 开关SAS灯 // Toggle SAS Light
		#SYC-MDAG-Gear-name = 展开/收回着陆支架 // Toggle Landing Leg

	// Actions
		#SYC-MAG-labl-strt = 打开标签灯 // Labels: Activate
		#SYC-MAG-labl-stop = 关闭标签灯 // Labels: Deactivate
		#SYC-MAG-labl-actn = 开关标签灯 // Toggle Label Light

		#SYC-MAG-SAS-strt = 打开SAS灯 // Light: Activate
		#SYC-MAG-SAS-stop = 关闭SAS灯 // Light: Deactivate
		#SYC-MAG-SAS-actn = 开关SAS灯 // Toggle SAS Light

		#SYC-DOCK-name = Undock: Top Node // Undock: Top Node
		#SYC-DOCK-enbl = Undock Staging: Enabled // Undock Staging: Enabled
		#SYC-DOCK-dsbl = Undock Staging: Disabled // Undock Staging: Disabled

		#SYC-LEG-enbl = 展开着陆支架 // Extend Legs
		#SYC-LEG-dsbl = 收回着陆支架 // Retract Legs
		#SYC-LEG-name = 展开/收回着陆支架 // Toggle Legs

	// themes
		#SYC-theme-00-name = 黑色 // Black
		#SYC-theme-00-desc = 像夜一样黑 // Black as the night

		#SYC-theme-01-name = 默认 // Default
		#SYC-theme-01-desc = 默认外观 // Default Appearance

		#SYC-theme-02-name = 还是默认外观！ // Default Too!
		#SYC-theme-02-desc = 另一种默认外观… // Alternate Default Appearance

		#SYC-theme-03-name = 红色 // Red
		#SYC-theme-03-desc = 红色 // Red

		#SYC-theme-04-name = 蓝色 // Blue
		#SYC-theme-04-desc = 蓝色 // Blue
	}
}