// zh-cn.cfg v1.0.1.0
// SpaceY Expanded (SYX)
// created: 06 August 2024
// updated: 

// THIS FILE:
//   CC BY-NC-SA 4.0 by zer0Kerbal
//   created by [zhangyuesai](https://github.com/zhangyuesai)
//   translation courtesy of [zhangyuesai](https://github.com/zhangyuesai)

Localization
{	zh-cn
	{
	// Addon specific
		#SYX-name = SpaceY Expanded
		#SYX-abbv = SYX
		#SYX-tags = syx spacey

	// size specific
		#SYC-125-tags = (1 1m size1
		#SYC-1875-tags = (1p5 1p5m size1p5
		#SYC-250-tags = (2 2m size2
		#SYC-375-tags = (3 3m size3
		#SYC-500-tags = (5 5m size4
		#SYC-750-tags = (7 7m size5
		#SYC-1000-tags = (10 10m size6

	// Parts\Adapters
		#SYX-adapt-1000-375-X5-titl = SpaceY SV5 引擎转接器 // SpaceY SV5 Engine Adapter
		#SYX-adapt-1000-375-X5-desc = (10m 转 5x 3.75m) 此部件设计为一级转接系统，它使得大型引擎组成的集群结构成为可能。 // (10m to 5x 3.75m) Designed as a first-stage adapter system, this unit will allow configurations of very large engines.

		#SYX-adapt-1000-375-X7-titl = SpaceY SV7 引擎转接器 // SpaceY SV7 Engine Adapter
		#SYX-adapt-1000-375-X7-desc = (10m 转 7x 3.75m) 此部件设计为一级转接系统，它使得大型引擎组成的集群结构成为可能。 // (10m to 7x 3.75m) Designed as a first-stage adapter system, this unit will allow configurations of very large engines.

		#SYX-adapt-750-375-X4-titl = SY-AP7X4X3 7.5m转4x3.75m 四向转接器 // SY-AP7X4X3 7.5m to 4x 3.75m Stack Quad-Adapter
		#SYX-adapt-750-375-X4-desc = 一款巨大的四向转接器，用于巨型火箭。可储存燃料（不包含在售价内）。 // A massive four-way adapter for huge rockets. Capable of storing fuel (not included).

		#SYX-adapt-750-500-titl = SpaceY A7-5 结构转接器 // SpaceY A7-5 Structural Adapter
		#SYX-adapt-750-500-desc = 这款质量相对较小的转接器，可用作同尺寸的燃料箱转接器的轻量级替代品。爆炸性更弱，须小心使用！ // This relatively low-mass adapter functions as a low-mass alternative to the fully-fueled size adapter. Use with caution, as this is much less explosive!

		#SYX-plate-1000-125-X37-titl = SpaceY BFR-37 “Duna人”级间引擎钢板 // SpaceY BFR-37 "Dunarian" Interstage Thrust Plate
		#SYX-plate-1000-125-X37-desc = (10m 转 37x 1.25m) 作为Duna殖民运输系统的一部分，BFR系列引擎转接器使你可以同时使用大量引擎。 // (10m to 37x 1.25m) As part of the Duna Colonial Transport system, the BFR series of thrust adapters allows for an enormous number of engines to be used at once.

		#SYX-plate-1000-125-X43-titl = SpaceY BFR-43 “蜂群”级间引擎钢板 // SpaceY BFR-43 "Swarm" Interstage Thrust Plate
		#SYX-plate-1000-125-X43-desc = (10m 转 43x 1.25m) 作为Duna殖民运输系统的一部分，BFR系列引擎转接器使你可以同时使用大量引擎。这个改进型号“附赠”了一个引擎安装点，共有43个。 // (10m to 43x 1.25m) As part of the Duna Colonial Transport system, the BFR series of thrust adapters allows for an enormous number of engines to be used at once. This improved model includes a "bonus" 43rd engine mount

		#SYX-plate-1000-375-X4-titl = SpaceY BFR-4 级间引擎钢板 // SpaceY BFR-4 Interstage Thrust Plate
		#SYX-plate-1000-375-X4-desc = (10m 转 4x 3.75m) 作为Duna殖民运输系统的一部分，BFR系列引擎转接器使你可以同时使用几个大型引擎。 // (10m to 4x 3.75m) As part of the Duna Colonial Transport system, the BFR series of thrust adapters allows for several large engines to be used.

		#SYX-plate-1000-750-X1-titl = SpaceY BFR-1 级间引擎钢板 // SpaceY BFR-1 Interstage Thrust Plate
		#SYX-plate-1000-750-X1-desc = (10m 转 7.5m) 作为Duna殖民运输系统的一部分，BFR系列引擎转接器使你可以使用超大型引擎集群。 // (10m to 7.5m) As part of the Duna Colonial Transport system, this BFR thrust adapter permits use of very large engine clusters.

		#SYX-plate-1000-X0-titl = SpaceY BFR-0 级间引擎钢板 // SpaceY BFR-0 Interstage Thrust Plate
		#SYX-plate-1000-X0-desc = (10m) 作为Duna殖民运输系统的一部分，这款空白的引擎钢板设计为可以自由定制引擎在表面的安装排列方式。 // (10m) As part of the Duna Colonial Transport system, this blank thrust plate is designed for completely custom arrangements of surface-attached engines.

		#SYX-plate-750-250-X7-titl = SpaceY A7-2-VII “蜂巢”级间引擎钢板 // SpaceY A7-2-VII "Beehive" Interstage Thrust Plate
		#SYX-plate-750-250-X7-desc = (7.5m 转 7x 2.5m) 用于定制你自己的引擎集群。有上面级和下面级两种配置。 // (7.5m to 7x 2.5m) Customize your engine clusters, in either an upper-stage, or lower-stage configuration.

		#SYX-plate-750-375-X2-titl = SpaceY A7-3-II 级间引擎钢板 // SpaceY A7-3-II Interstage Thrust Plate
		#SYX-plate-750-375-X2-desc = (7.5m 转 2x 3.75m) 用于定制你自己的引擎集群。有上面级和下面级两种配置。 // (7.5m to 2x 3.75m) Customize your engine clusters, in either an upper-stage, or lower-stage configuration.

		#SYX-plate-750-500-X1-titl = SpaceY A7-5 级间转接器 // SpaceY A7-5 Interstage Adapter
		#SYX-plate-750-500-X1-desc = (7.5m 转 5m) 用于定制你自己的引擎集群。有上面级（带整流罩）和下面级两种配置。 // (7.5m to 5m) Customize your engine clusters, in either an upper-stage (with fairing), or lower-stage configuration.

	// Parts\Bays
		#SYX-bay-375-titl = SpaceY SB3 服务舱 (3.75m) // SpaceY SB3 Service Bay (3.75m)
		#SYX-bay-375-desc = 一款存储舱，适用于设备、推进剂、仪器，甚至是一整辆漫游车。 // A storage bay for equipment, propellants, instruments, or even entire rovers.

		#SYX-bay-500-titl = SpaceY SB5 服务舱 (5m) // SpaceY SB5 Service Bay (5m)
		#SYX-bay-500-desc = 一款存储舱，适用于设备、推进剂、仪器，甚至是一整辆漫游车。 // A storage bay for equipment, propellants, instruments, or even entire rovers.

		#SYX-bay-750-titl = SpaceY SB7 服务舱 (7.5m) // SpaceY SB7 Service Bay (7.5m)
		#SYX-bay-750-desc = 一款存储舱，适用于设备、推进剂、仪器，甚至是一整辆漫游车。 // A storage bay for equipment, propellants, instruments, or even entire rovers.

	// Parts\Command
		#SYX-probe-750-titl = SpaceY 堆叠导航系统, 7.5m // SpaceY Stack Guidance System, 7.5m
		#SYX-probe-750-desc = 作为市面上最先进的导航计算机之一，这款大直径的探测器核心可用于大型助推器的着陆，也可用于一般大型载具的导航。 // One of the most advanced guidance computers on the market, this large diameter probe core will allow landing large booster sections, as well as navigating large vehicles in general.

	// Parts\Control
		#SYX-vernier1-titl = SpaceY V1 游标推进器 // SpaceY V1 Vernier Thruster
		#SYX-vernier1-desc = 一款姿态控制推进器，尺寸比某个主要竞争产品略大。虽然它的发动机是连接到RCS控制上的，但是它却由燃料+氧化剂混合供能，这使得它们极其显著地比需要单组元推进剂供能的RCS推进器更加强劲。相比之下，它要笨重得多，而且只有一个朝外的喷嘴；不过多数人还是认为为了更强劲的推力，这样的权衡也是可以接受的。 // An attitude control thruster, sligtly larger in scale than the leading competitor. These motors are linked to RCS controls, but are powered by a Fuel+Oxidizer mix, making them significantly more powerful than MonoPropellant-powered RCS thrusters. They are fairly more bulky in comparison though, and feature only one nozzle facing outwards, although most agree that is an acceptable trade-off for the additional punch they pack.		

	// Parts\Engines
		#SYX-eng-375-E1-titl = SpaceY E1 “鸸鹋”引擎 // SpaceY E1 "Emu" Engine
		#SYX-eng-375-E1-desc = 要么做强做大，要么灰溜溜回家！通常情况下，这款重型引擎能把发射台推离你。 // Go big, or go home! This heavy lift engine will help shove the launch pad away from you, usually.

		#SYX-eng-375-P1-titl = SpaceY P1 “企鹅”真空引擎 // SpaceY P1 "Penguin" Vacuum Engine
		#SYX-eng-375-P1-desc = 遨游太空，从未如此易如反掌。既然你可以更快地推进，为什么还要等待原子引擎或离子引擎漫长的点火过程呢？（注：如果你安装了Firespitter或Interstellar Fuel Switch模组，你可以开启或关闭外壳。） // Going places in space was never easier. Why wait on enormously long burns with a nuclear or ion engine, when you can get out and push faster? (NOTE: If you have Firespitter or Interstellar Fuel Switch DLLs installed, you can toggle the tank-cap on and off)

		#SYX-eng-500-P2-titl = SpaceY P2 “双企鹅”真空引擎 // SpaceY P2 "Dual-Penguin" Vacuum Engine
		#SYX-eng-500-P2-desc = 遨游太空，从未如此易如反掌。既然你可以更快地推进，为什么还要等待原子引擎或离子引擎漫长的点火过程呢？ // Going places in space was never easier. Why wait on enormously long burns with a nuclear or ion engine, when you can get out and push faster?

		#SYX-eng-750-E2-titl = SpaceY E2 “双鸸鹋”引擎 // SpaceY E2 "Dual-Emu" Engine
		#SYX-eng-750-E2-desc = 这款引擎是“鸸鹋”集群的一个上面级版本，具有多次点火能力，自带整流罩。保证偶尔能将上面级爆炸的可能性降到最低。 // An upper-stage version of the Emu cluster, this engine is capable of multiple restarts and includes its own fairing. Guaranteed to occasionally minimize upper stage explosions.		

		#SYX-eng-750-E4-titl = SpaceY E4 “四鸸鹋”引擎 // SpaceY E4 "Quad-Emu" Engine
		#SYX-eng-750-E4-desc = 要么做强做大，要么灰溜溜回家！通常情况下，这款重型引擎能把发射台推离你。 // Go big, or go home! This heavy lift engine will help shove the launch pad away from you, usually.

		#SYX-eng-750-P4-titl = SpaceY P4 “四企鹅”真空引擎 // SpaceY P4 "Quad-Penguin" Vacuum Engine
		#SYX-eng-750-P4-desc = 遨游太空，从未如此易如反掌。既然你可以更快地推进，为什么还要等待原子引擎或离子引擎漫长的点火过程呢？ // Going places in space was never easier. Why wait on enormously long burns with a nuclear or ion engine, when you can get out and push faster?

		#SYX-eng-750-R9-titl = SpaceY BFR9 “终极隆鸟”引擎集群 // SpaceY BFR9 "Omega-Ratite" Engine Cluster
		#SYX-eng-750-R9-desc = 这款由9台R1“隆鸟”组成的引擎集群专为提供推举力而设计，它实现了现有科技下较高的推重比。然而，这是以牺牲燃料效率为代价的，而且引擎本身的质量也相当大。只适合用作下面级引擎。 // Designed purely for lifting power, this cluster of nine R1 "Ratites" will attain some of the best thrust to payload-weight ratios available with current technology. However, it will cost you in fuel efficiency, and the engine itself is quite massive. Only suitable as a lower-stage engine.

	// Parts\Etc
		#SYX-decoupler-1000-titl = SY-SD10 10m分离器 // SY-SD10 10m Stack Decoupler
		#SYX-decoupler-1000-desc = 起初，SpaceY的重型运载火箭经历了多起“快速计划外拆解”事件。但没过多久，SpaceY工程师就决定在飞行中采用“计划内拆解”的方法，由此“预防”了故障的发生。 // Initially, the SpaceY heavy lift rockets experienced several "rapid unplanned disassembly" events. It wasn't long before SpaceY engineers decided on a method of "planned disassembly" whlie in flight, thus staying ahead of the problem.

		#SYX-decoupler-750-titl = SY-SD7 7.5m分离器 // SY-SD7 7.5m Stack Decoupler
		#SYX-decoupler-750-desc = 起初，SpaceY的重型运载火箭经历了多起“快速计划外拆解”事件。但没过多久，SpaceY工程师就决定在飞行中采用“计划内拆解”的方法，由此“预防”了故障的发生。 // Initially, the SpaceY heavy lift rockets experienced several "rapid unplanned disassembly" events. It wasn't long before SpaceY engineers decided on a method of "planned disassembly" whlie in flight, thus staying ahead of the problem.

		#SYX-heatshield-750-titl = SpaceY HS7 热防护罩 (7.5m) // SpaceY HS7 Heat Shield (7.5m)
		#SYX-heatshield-750-desc = 一款巨大的结构热防护罩，自带整流罩。 // A very large structural heat shield with an integrated fairing.

		#SYX-fairing-1000-titl = SpaceY FB10P 气流防护罩 (10m) // SpaceY FB10P Protective Fairing (10m)
		#SYX-fairing-1000-desc = 10m直径的载荷整流罩底座，用于那些出于某些原因需要保护大型载荷免受大气影响的场合。 // 10m diameter payload fairing base, for those times when you have a large payload that might, for some reason, need to be shielded from atmospheric effects.

		#SYX-fairing-750-titl = SpaceY FB7P 气流防护罩 (7.5m) // SpaceY FB7P Protective Fairing (7.5m)
		#SYX-fairing-750-desc = 7.5m直径的载荷整流罩底座，用于那些出于某些原因需要保护大型载荷免受大气影响的场合。 // 7.5m diameter payload fairing base, for those times when you have a large payload that might, for some reason, need to be shielded from atmospheric effects.

		#SYX-separator-1000-titl = SY-SS10 10m分级切分器 // SY-SS10 10m Stack Separator
		#SYX-separator-1000-desc = 起初，SpaceY的重型运载火箭经历了多起“快速计划外拆解”事件。但没过多久，SpaceY工程师就决定在飞行中采用“计划内拆解”的方法，由此“预防”了故障的发生。 // Initially, the SpaceY heavy lift rockets experienced several "rapid unplanned disassembly" events. It wasn't long before SpaceY engineers decided on a method of "planned disassembly" whlie in flight, thus staying ahead of the problem.

		#SYX-separator-750-titl = SY-SS7 7.5m分级切分器 // SY-SS7 7.5m Stack Separator
		#SYX-separator-750-desc = 起初，SpaceY的重型运载火箭经历了多起“快速计划外拆解”事件。但没过多久，SpaceY工程师就决定在飞行中采用“计划内拆解”的方法，由此“预防”了故障的发生。 // Initially, the SpaceY heavy lift rockets experienced several "rapid unplanned disassembly" events. It wasn't long before SpaceY engineers decided on a method of "planned disassembly" whlie in flight, thus staying ahead of the problem.

	// Parts\FuelTanks
		#SYX-tank-1000-adapt-750-titl = SpaceY BFR-TA38 燃料箱转接器 // SpaceY BFR-TA38 Fuel Tank Adapter
		#SYX-tank-1000-adapt-750-desc = (10m/7.5m) 一直以来，SpaceY技术公司的工程师们都很疑惑：为什么这些大型锥形转接器通常都是空的？我们的解决方案就是给它填满燃料！ // (10m/7.5m) The engineers at Spacey Technologies have always wondered why these large conical adapter parts are usually empty. Our solution is to fill it with fuel!

		#SYX-tank-1000-L3750-titl = SpaceY BFR-T50 燃料箱 // SpaceY BFR-T50 Fuel Tank
		#SYX-tank-1000-L3750-desc = (10m x 3.75m) 要么做强做大，要么灰溜溜回家！这款燃料箱可为不可思议的巨型火箭提供大量燃料。 // (10m x 3.75m) Go big, or go home. This tank will supply an enormous amount of fuel, for insanely large rockets.

		#SYX-tank-1000-L7500-titl = SpaceY BFR-T100 燃料箱 // SpaceY BFR-T100 Fuel Tank
		#SYX-tank-1000-L7500-desc = (10m x 7.5m) 要么做强做大，要么灰溜溜回家！这款燃料箱可为不可思议的巨型火箭提供大量燃料。 // (10m x 7.5m) Go big, or go home. This tank will supply an enormous amount of fuel, for insanely large rockets.

		#SYX-tank-1000-L15000-titl = SpaceY BFR-T200 燃料箱 // SpaceY BFR-T200 Fuel Tank
		#SYX-tank-1000-L15000-desc = (10m x 15m) 要么做强做大，要么灰溜溜回家！这款燃料箱可为不可思议的巨型火箭提供大量燃料。 // (10m x 15m) Go big, or go home. This tank will supply an enormous amount of fuel, for insanely large rockets.

		#SYX-tank-1000-L22500-titl = SpaceY BFR-T300 燃料箱 // SpaceY BFR-T300 Fuel Tank
		#SYX-tank-1000-L22500-desc = (10m x 22.5m) 要么做强做大，要么灰溜溜回家！这款燃料箱可为不可思议的巨型火箭提供大量燃料。 // (10m x 22.5m) Go big, or go home. This tank will supply an enormous amount of fuel, for insanely large rockets.

		#SYX-tank-750-adapt-500-titl = SpaceY F28A7-5 7.5m燃料箱转接器 // SpaceY F28A7-5 7.5m Fuel Tank Adapter
		#SYX-tank-750-adapt-500-desc = 一直以来，SpaceY技术公司的工程师们都很疑惑：为什么这些大型锥形转接器通常都是空的？我们的解决方案就是给它填满燃料！ // The engineers at Spacey Technologies have always wondered why these large conical adapter parts are usually empty. Our solution is to fill it with fuel!

		#SYX-750-adapt-250-titl = SpaceY F21A7-5 7.5m燃料箱转接器 // SpaceY F21A7-5 7.5m Fuel Tank Adapter
		#SYX-750-adapt-250-desc = 一直以来，SpaceY技术公司的工程师们都很疑惑：为什么这些大型锥形转接器通常都是空的？我们的解决方案就是给它填满燃料！ // The engineers at Spacey Technologies have always wondered why these large conical adapter parts are usually empty. Our solution is to fill it with fuel!

		#SYX-tank-750-cone-1-titl = SpaceY BFT07C 7.5m燃料箱鼻锥 // SpaceY BFT07C 7.5m Fuel Tank Nose Cone
		#SYX-tank-750-cone-1-desc = 7.5m带燃料鼻锥。空气动力学鼻锥有什么用，难道不是浪费空间吗？是谁想出要把燃料装里面的，简直是疯了。 // 7.5m Fueled Nose Cone. Aren't aerodynamic nose cones supposed to be wasted space? Who thought to put fuel in this? That's crazy talk.

		#SYX-tank-750-L3750-titl = SpaceY BFT28 7.5m燃料箱 // SpaceY BFT28 7.5m Fuel Tank
		#SYX-tank-750-L3750-desc = 要么做强做大，要么灰溜溜回家！这款燃料箱可为骇人听闻的巨型火箭提供大量燃料。 // Go big, or go home. This tank will supply an enormous amount of fuel, for horrifically large rockets.

		#SYX-tank-750-L7500-titl = SpaceY BFT57 7.5m燃料箱 // SpaceY BFT57 7.5m Fuel Tank
		#SYX-tank-750-L7500-desc = 要么做强做大，要么灰溜溜回家！这款燃料箱可为骇人听闻的巨型火箭提供大量燃料。 // Go big, or go home. This tank will supply an enormous amount of fuel, for horrifically large rockets.

		#SYX-tank-750-L15000-titl = SpaceY BFT115 7.5m燃料箱 // SpaceY BFT115 7.5m Fuel Tank
		#SYX-tank-750-L15000-desc = 要么做强做大，要么灰溜溜回家！这款燃料箱可为骇人听闻的巨型火箭提供大量燃料。 // Go big, or go home. This tank will supply an enormous amount of fuel, for horrifically large rockets.
	}
}