Localization
{
    zh-cn
    {
        #LOC_ExtraDockingPorts_Agency = 互联动力

        #LOC_ExtraDockingPorts_TinyModularDockingPort_Title = Clamp-O-Tron Jr 模块化对接端口
        #LOC_ExtraDockingPorts_TinyModularDockingPort_Description = 曾想过对接空间站后安全回家，却不想在返回舱外挂满一堆降落伞？得益于全新尖端科技（其实就是把降落伞塞进舱体内部），现在终于能实现了！这款精巧的小型对接端口内置集成安装点，可连接最多三个专属流线型降落伞模块，完美融合对接与伞降功能。当然，降落伞模块需单独购买。
        #LOC_ExtraDockingPorts_TinyModularDockingPort_Tags = edp berth capture connect couple dock fasten join moor socket chute para modular

        #LOC_ExtraDockingPorts_TinyModularParachute_Title = Clamp-O-Tron Jr 模块化降落伞
        #LOC_ExtraDockingPorts_TinyModularParachute_Description = 将三个这种玩意儿塞进 Clamp-O-Tron Jr 模块化对接端口，即可在一个紧凑组件中完美融合对接与着陆生存能力。出于美观和生存性考虑，我们不建议使用少于三个。
        #LOC_ExtraDockingPorts_TinyModularParachute_Tags = edp arrest canopy chute decel descen drag entry fall landing re- return safe slow stab modular

        #LOC_ExtraDockingPorts_SmallModularDockingPort_Title = Clamp-O-Tron 模块化对接端口
        #LOC_ExtraDockingPorts_SmallModularDockingPort_Description = 与较小版本类似，这款 1.25m 尺寸的模块化对接端口可连接最多三个专属降落伞组件，从而形成集成式降落伞与对接系统。
        #LOC_ExtraDockingPorts_SmallModularDockingPort_Tags = edp berth capture connect couple dock fasten join moor socket chute para modular

        #LOC_ExtraDockingPorts_SmallModularParachute_Title = Clamp-O-Tron 模块化降落伞
        #LOC_ExtraDockingPorts_SmallModularParachute_Description = 这款用于 Clamp-O-Tron 模块化对接端口 的流线型降落伞模块，是集成式降落伞与对接系统的一部分。若尝试使用少于三个降落伞着陆，制造商概不承担任何责任。
        #LOC_ExtraDockingPorts_SmallModularParachute_Tags = edp arrest canopy chute decel descen drag entry fall landing re- return safe slow stab modular

        #LOC_ExtraDockingPorts_SmallCompactDockingPort_Title = Clamp-O-Tron 紧凑型对接端口
        #LOC_ExtraDockingPorts_SmallCompactDockingPort_Description = 一个 1.25m 尺寸的对接端口，没有额外的结构。非常适合连接那些对于 Jr 端口来说太大，但又不够宽、无法让标准 Clamp-O-Tron 端口看起来很美观的部件。*咳* Making History 中的M.E.M.着陆器…… *咳*
        #LOC_ExtraDockingPorts_SmallCompactDockingPort_Tags = edp berth capture connect couple dock fasten join moor socket compact

        #LOC_ExtraDockingPorts_MediumDockingPort_Title = Clamp-O-Tron 对接端口 MD
        #LOC_ExtraDockingPorts_MediumDockingPort_Description = 一个急需的对接端口，用于连接 1.875m 尺寸的部件，非常适合空间站。MD 在这里代表中型，而非医生。
        #LOC_ExtraDockingPorts_MediumDockingPort_Tags = edp berth capture connect couple dock fasten join moor socket
    }
}

// 使用机器翻译+人工核对
