Localization
{
	zh-cn
	{
		// plugin
		#LOC_BeamedPower_Wavelength_long = 长波
		#LOC_BeamedPower_Wavelength_short = 短波
		#LOC_BeamedPower_Wavelength_gamma = 伽马射线
		#LOC_BeamedPower_Wavelength_xrays = X射线
		#LOC_BeamedPower_Wavelength_uv = 紫外线
		#LOC_BeamedPower_Wavelength_infrared = 红外线的
		#LOC_BeamedPower_Wavelength_microwave = 微波
		#LOC_BeamedPower_Wavelength_radiowave = 无线电波
		#LOC_BeamedPower_Wavelength_unknown = 未知
		
		#LOC_BeamedPower_WarpDriveEngaged = 曲速引擎已接合
		#LOC_BeamedPower_ExceededC = 超光速
		#LOC_BeamedPower_PercentMaxThrust = 最大推力百分比
		
		#LOC_BeamedPower_ThermalEngine_ModuleName = 热机
		#LOC_BeamedPower_ThermalEngine_ModuleInfo = 接收器直径: <<1>>m \n接收器效率: <<2>>% \n热效率: <<3>>% \n\n核心最高温度: <<4>>K \n表面最高温度: <<5>>K \n\n超过温度时，机器将停机。 
		#LOC_BeamedPower_ThermalEngine_EngineOff = 机器已关闭
		#LOC_BeamedPower_ThermalEngine_RecvStatus = 接收器状态
		#LOC_BeamedPower_ThermalReceiverHeatInfo = 热接收器受热信息
		
		#LOC_BeamedPower_AblativeEngine_ModuleName = 烧蚀引擎
		#LOC_BeamedPower_AblativeEngine_ModuleInfo = 引擎暴露区域: <<1>>m² \n引擎效率: <<2>>%
		#LOC_BeamedPower_AblativeEngine_PowerStatus = 功率状态
		#LOC_BeamedPower_AblativeEngine_PropellantLoss = 推进剂损失
		#LOC_BeamedPower_AblativeEngine_CalcAngle = 指源角度
		
		#LOC_BeamedPower_PhotonSail_ModuleName = 光帆
		#LOC_BeamedPower_PhotonSail_ModuleInfo = 表面积: <<1>>m² \n反射率: <<2>>%
		#LOC_BeamedPower_PhotonSail_CurrentThrust = 当前推力
		
		#LOC_BeamedPower_WirelessSource_ModuleName = 波束能量发射器
		#LOC_BeamedPower_WirelessSource_ModuleInfo = 碟形直径: <<1>>m \n波长: <<2>> \n效率: <<3>>% \n\n核心最高温度: <<4>>K \n表面最高温度: <<5>>K \n超过温度时发射器停机。\n\n发射: \n<b><color=orange>需要: </color=orange> \n- 电力: </b>0-100k/秒.
		#LOC_BeamedPower_WirelessSource_PowerTransmitter = 能量发射器
		#LOC_BeamedPower_WirelessSource_PowerToBeam = 电转波束
		#LOC_BeamedPower_WirelessSource_BeamedPower = 波束能量
		#LOC_BeamedPower_WirelessSource_TransmittingTo = 发射至
		#LOC_BeamedPower_Status = 状态
		#LOC_BeamedPower_Vessels_Cyclethrough = 循环通过载具
		
		#LOC_BeamedPower_WirelessReflector_ModuleName = 波束能量反射器
		#LOC_BeamedPower_WirelessReflector_ModuleInfo = 直径: <<1>>m \n反射率: <<2>>% \n\n可增幅: <<3>> \n效率: <<4>>% \n波长: <<5>> \n\n要获得能级增幅，入射光束波长必须与该部件的光束波长匹配。 \n\n增幅: \n<b><color=orange>需要: </color=orange> \n- 电力: </b>0-50k/秒.
		#LOC_BeamedPower_WirelessReflector_BeamReflector = 波束反射器
		#LOC_BeamedPower_WirelessReflector_PowerReflected = 能量反射
		#LOC_BeamedPower_WirelessReflector_AmplifyPower = 电力增幅
		#LOC_BeamedPower_WirelessReflector_From = 从
		#LOC_BeamedPower_WirelessReflector_To = 至
		#LOC_BeamedPower_WirelessReflector_CycleTransmitters = 循环通过发射器载具
		#LOC_BeamedPower_WirelessReflector_CycleReceivers = 循环通过接收器载具
		
		#LOC_BeamedPower_Actions_ToggleSource = 开关能量发射器
		#LOC_BeamedPower_Actions_ActivateSource = 启动能量发射器
		#LOC_BeamedPower_Actions_DeactivateSource = 关停能量发射器
		#LOC_BeamedPower_Actions_ToggleReceiver = 开关能量接收器
		#LOC_BeamedPower_Actions_ActivateReceiver = 启动能量接收器
		#LOC_BeamedPower_Actions_DeactivateReceiver = 关停能量接收器
		#LOC_BeamedPower_Actions_ToggleReflector = 开关能量反射器
		#LOC_BeamedPower_Actions_ActivateReflector = 启动能量反射器
		#LOC_BeamedPower_Actions_DeactivateReflector = 关停能量反射器
		
		#LOC_BeamedPower_Receiver_ModuleName = 波束能量接收器
		#LOC_BeamedPower_Receiver_ModuleInfo = <b>接收器类型:</b> <<1>> \n接收器直径: <<2>>m \n接收器效率: <<3>>% \n\n核心最高温度: <<4>>K \n表面最高温度: <<5>>K \n\n超过温度时接收器停机。
		#LOC_BeamedPower_RecvPower = 接收器能量
		#LOC_BeamedPower_RecvPowerLimiter = 接收器能量限制
		#LOC_BeamedPower_Receiver_PowerReceiver = 能量接收器
		#LOC_BeamedPower_RecvFrom = 接收从
		
		#LOC_BeamedPower_HeatInfo = 热量信息
		#LOC_BeamedPower_CoreTemp = 核心温度
		#LOC_BeamedPower_SkinTemp = 表面温度
		#LOC_BeamedPower_WasteHeat = 废热
		#LOC_BeamedPower_Propellant = 推进剂
		
		#LOC_BeamedPower_CalcDistance = 距离
		#LOC_BeamedPower_ThrustCalcName = 推力计算
		#LOC_BeamedPower_RecvPowerCalcName = 接收器能量计算
		#LOC_BeamedPower_CalcRecvDiameter = 接收器直径
		#LOC_BeamedPower_CalcRecvEfficiency = 接收器效率
		#LOC_BeamedPower_CalcSourceDishDia = 发射源碟形直径
		#LOC_BeamedPower_CalcSourceEfficiency = 发射源效率
		#LOC_BeamedPower_CalcPowerBeamed = 能量波束
		#LOC_BeamedPower_CalcEngineIsp = 引擎比冲
		#LOC_BeamedPower_CalcThrust = 推力
		#LOC_BeamedPower_CalcResult = 结果
		#LOC_BeamedPower_CalcWavelength = 光束波长
		#LOC_BeamedPower_CalcToggleWavelength = 切换波长
		
		#LOC_BeamedPower_Vessel_None = 无
		#LOC_BeamedPower_status_Occludedby = 被遮挡
		#LOC_BeamedPower_status_Operational = 可操控
		#LOC_BeamedPower_status_ExceededTempLimit = 超过温度限制
		#LOC_BeamedPower_Status_Offline = 离线
		
		//parts
		#LOC_BeamedPower_Parts_PhotonSail_Title = BP-541L "星摄" 光帆
		#LOC_BeamedPower_Parts_PhotonSail_Description = 当离子交响质子电子公司的工程师第一次看到该部件的蓝图时，他们非常坚定的拒绝相信这是一个笑话。随后，科学家们举办了一场时间非常长的讲座，解释了就算太空中没有风，帆也是能够被集束光波中的光子推动的。该部件不需要携带任何推进剂，且还能够达到光速的几分之一。它的主要缺点就是推力很低，即使给了大量的能量波束也是很慢。
		#LOC_BeamedPower_Parts_PhotonSail_Extend = 展开光帆
		#LOC_BeamedPower_Parts_PhotonSail_Retract = 收回光帆
		#LOC_BeamedPower_Parts_PhotonSail_tags = photon, sail, beamed, power, propul, light, engine
		
		#LOC_BeamedPower_Parts_ThermalEngine_Title = BP-TE "非放射性" 热力引擎
		#LOC_BeamedPower_Parts_ThermalEngine_Desc = 有点类似像核能引擎，它不是通过化学反应而是用采用加热的方式来放出推进剂。然而，在这个应用场景下，热量只来自于发射波束的能量。再也不用携带重重的核反应堆了！这种引擎的推重比要比它同类型的核能引擎要高得多。另一方面，单单只有它一个部件什么也做不了，它需要波束能量。好好记住这一点！
		#LOC_BeamedPower_Parts_ThermalEngine_tags = thermal, heat, receiver, engine, propul, beamed, power
		
		#LOC_BeamedPower_Parts_AblativeEngine_title = BP-AE "纯化" 烧蚀引擎
		#LOC_BeamedPower_Parts_AblativeEngine_desc = 只是一个巨大的、沉重的金属圆顶，侧面连接着电气设备。它没有什么特别的。当然它不是 8000K 武器，我们肯定不会用它来做这件事，对吧？注意：运行时排放的气流可能会使任何东西沸腾，请和坎巴拉人保持距离。噢，需要波束能量才能做任何事情。
		#LOC_BeamedPower_Parts_AblativeEngine_tags = ablat, engine, propul, beamed, power, plasma, pulse
		
		#LOC_BeamedPower_Parts_TransmitterDish_title = BP-T1 "微波" 能量发射器
		#LOC_BeamedPower_Parts_TransmitterDish_desc = 一个 5 米宽的大型碟形天线，可以将你的载具产生的能量传送到另一艘载具。由于直径大，产生波束的聚焦性能更好，并且能量以更长的波长发射，从而拥有更好的效率。它还能兼作中继天线，可以用来给 Jebediah 发信息，Jebediah 是被“意外”送入深空的，还没有带零食。然而美中不足的是，它的体积太大了，祝你运气好到能把它装进整流罩里！
		#LOC_BeamedPower_Parts_TransmitterDish_tags = transmit, dish, parabol, source, microwa, beamed, power
		
		//patches
		#LOC_BeamedPower_TechNodePropulsion = 波束动力推进
		#LOC_BeamedPower_TechNodePropulsion_Desc = 科学家们终于找到了波束能量除了发电以外的其他用途。那个“东西”将能够为助推器提供更多动力！
		#LOC_CTT_microwavePowerTransmission_title = 波束能量技术
	}
}
