Localization:NEEDS[BDArmory]
{
    zh-cn
    {
        #autoLOC_bda_1000017 = 声呐 // SONAR
		#autoLOC_bda_1000018 = 仅数据链接 // datalink only
		#autoLOC_bda_1000019 = 全向 // omnidirectional
		#autoLOC_bda_1000020 = 瞄准 // boresight
		#autoLOC_bda_1000021 = 耗电: <<1>>// EC/sec: <<1>>
		#autoLOC_bda_1000022 = 视场: <<1>>° // Field of view: <<1>>°
		#autoLOC_bda_1000023 = 威胁告警类型: <<1>> // RWR Threat Type: <<1>>
		#autoLOC_bda_1000024 = 能力:  // Capabilities:
		#autoLOC_bda_1000025 = - 正在扫描: <<1>> // - Scanning: <<1>>
		#autoLOC_bda_1000026 = - 追踪时扫描: <<1>> // - Track-While-Scan: <<1>>
		#autoLOC_bda_1000027 = - 正在锁定: <<1>> // - Locking: <<1>>
		#autoLOC_bda_1000028 = - Max Locks: <<1>>
		#autoLOC_bda_1000029 = - Receive Data: <<1>>
		#autoLOC_bda_1000030 = 效果: // Performance:
		#autoLOC_bda_1000031 = - Detection: <<1>> m^2 @ <<2>> km
		#autoLOC_bda_1000032 = - Detection: (none)
		#autoLOC_bda_1000033 = - Lock/Track: <<1>> m^2 @ <<2>> km
		#autoLOC_bda_1000034 = - Lock/Track: (none)
		#autoLOC_bda_1000035 = - Ground clutter factor: <<1>>
    }
}