Localization
{
	zh-cn
	{
		// InlineBallutes Parts localization - Chinese Simplified
		// 0.625m Ballute "Ducky Rescue"
		#InlineBallutes_062_title = 0.625m 内嵌式充气减速伞 “小黄鸭救援”
		#InlineBallutes_062_manufacturer = 坎巴拉末日工业
		#InlineBallutes_062_description = 浴缸鸭是最小号的内嵌式充气减速伞。适用于在高空减速最轻型的航天器。评级：经4吨重量测试。
		
		// 1.25m Ballute "Pinata"
		#InlineBallutes_125_title = 1.25m 内嵌式充气减速伞 “皮纳塔”
		#InlineBallutes_125_manufacturer = 坎巴拉末日工业
		#InlineBallutes_125_description = 皮纳塔是一款1.25米内嵌式环形充气减速伞。名字源于某次杰布生日派对上用它当皮纳塔砸。适用于在高空减速轻型火箭，或者在附近泳池里游泳。评级：经12吨重量测试。
		
		// 1.875m Ballute "Small Donut"
		#InlineBallutes_1875_title = 1.875m 内嵌式充气减速伞 “小甜甜圈”
		#InlineBallutes_1875_manufacturer = 坎巴拉末日工业
		#InlineBallutes_1875_description = 小甜甜圈是一款1.875米内嵌式环形充气减速伞。名字源于某次杰布生日派对上用它当皮纳塔砸。适用于在高空减速轻型火箭，或者在附近泳池里游泳。评级：经18吨重量测试。
		
		// 2.5m Ballute "Big Doughnut"
		#InlineBallutes_250_title = 2.5m 内嵌式充气减速伞 “大甜甜圈”
		#InlineBallutes_250_manufacturer = 坎巴拉末日工业
		#InlineBallutes_250_description = 当它首次发射时，招来了附近所有的警察。比尔至今也不明白——为什么。大午餐是一款2.5米内嵌式环形充气减速伞。适用于在高空减速火箭，并且能作为变声气源（内部有大量氦气）。评级：经36吨重量测试。
		
		// 3.75m Ballute "Glowing Star"
		#InlineBallutes_375_title = 3.75m 内嵌式充气减速伞 “发光之星”
		#InlineBallutes_375_manufacturer = 坎巴拉末日工业
		#InlineBallutes_375_description = 在一次“稍微有点快”的再入中，这个减速伞过热并像恒星一样发光，成为半个坎巴拉星上最先被看到的物体。评级：经72吨重量测试。
		
		// 5m Ballute "Super-Inflate-Me"
		#InlineBallutes_500_title = 5m 内嵌式充气减速伞 “超级充气侠”
		#InlineBallutes_500_manufacturer = 坎巴拉末日工业
		#InlineBallutes_500_description = 常被误认为UFO，它不过是3.75米减速伞的过度充气版本。评级：经110吨重量测试（充气后保修失效）。
	}
}