Localization
{
	zh-cn
	{
		// Benjee10_stowaway 部件本地化 - 中文（简体）
		// Pod (CSS-200 "Decondo" Crew Cabin)
		#Benjee10Stowaway_Pod_title = CSS-200"迪康多"乘员舱
		#Benjee10Stowaway_Pod_manufacturer = 科里奥利太空系统公司
		#Benjee10Stowaway_Pod_description = 配备宽敞的窗户、内置RCS和一套集成的逃逸发动机，CSS-200在各种使用场景中都是一款非常强大的指令舱。意外乘客不包括在内。
		
		// NoseCone (CSS-75D Deployable Nose Shield)
		#Benjee10Stowaway_NoseCone_title = CSS-75D可展开鼻锥护盾
		#Benjee10Stowaway_NoseCone_manufacturer = 科里奥利太空系统公司
		#Benjee10Stowaway_NoseCone_description = 专为配合CSS-200指令舱设计，这个鼻锥提供了气动前缘以减少阻力。可以展开以允许对接端口访问，或完全抛弃。
		#Benjee10Stowaway_NoseCone_startEventGUIName = 收起鼻锥
		#Benjee10Stowaway_NoseCone_endEventGUIName = 展开鼻锥
		#Benjee10Stowaway_NoseCone_actionGUIName = 开关鼻锥
		
		// Tether 1.25m (CSS-T12 Extendable Rigid Tether)
		#Benjee10Stowaway_Tether125_title = CSS-T12可伸展刚性系绳（1.25米）
		#Benjee10Stowaway_Tether125_manufacturer = 科里奥利太空系绳公司
		#Benjee10Stowaway_Tether125_description = 通过我们尚未完全理解的物理原理，CSS-T12展开一卷在部署时硬化的盘绕电缆，允许小型结构扩展成极大的刚性结构。最大伸展长度100米。
		
		// Tether 2.5m (CSS-T25 Extendable Rigid Tether)
		#Benjee10Stowaway_Tether250_title = CSS-T25可伸展刚性系绳（2.5米）
		#Benjee10Stowaway_Tether250_manufacturer = 科里奥利太空系绳公司
		#Benjee10Stowaway_Tether250_description = 科里奥利太空系绳系列中最大的型号，CSS-T25提供了极其坚固的可伸展连接系统。通过多重冗余电缆，非计划性分离的可能性已降低至仅47%！最大伸展长度150米。
		
		// Tether 0.625m (CSS-T06 Extendable Rigid Tether)
		#Benjee10Stowaway_Tether0625_title = CSS-T06可伸展刚性系绳（0.625米）
		#Benjee10Stowaway_Tether0625_manufacturer = 科里奥利太空系绳公司
		#Benjee10Stowaway_Tether0625_description = 小巧但坚固，这种微型可伸展连接系统最大伸展长度50米。
	}
}
