Localization
{
    zh-cn
    {
        #SpaceAge_Invalid = N/A
		#SpaceAge_Kerbal = 一位坎巴拉人

        // Date/time representation
        #SpaceAge_DateTime_Sec = 年<<1>> 天<<2>> <<3>>:<<4>>:<<5>>
        #SpaceAge_DateTime_NoSec = 年<<1>> 天<<2>> <<3>>:<<4>>
        #SpaceAge_Date = 年<<1>> 天<<2>>
        #SpaceAge_Years = <<1>> <<1[年/年]>>
        #SpaceAge_Days = <<1>> <<1[天/天]>>

        // UI messages
        #SpaceAge_UI_SettingsReset = Space Age 设置已重置.
        #SpaceAge_UI_EventDetected = 已检测到 <<1>> 事件.
        #SpaceAge_UI_AchievementsImportTitle = 导入成就
        #SpaceAge_UI_AchievementsImportMessage = 已从原版追踪进度中导入 <<1>> 个旧<<1[成就/成就]>> 
        #SpaceAge_UI_AchievementScore = <<1>> (<<2>> 分)
        #SpaceAge_UI_Exported = 编年史进度已经导出到 GameData\SpaceAge\PluginData\SpaceAge\<<1>>.

        // SpaceAge window elements
        #SpaceAge_UI_UT = UT
        #SpaceAge_UI_MET = MET
        #SpaceAge_UI_LogTitle = <<1>> 航行日志
        #SpaceAge_UI_ShipInfo = 于 <<1>> 发射
        #SpaceAge_UI_Back = 返回
        #SpaceAge_UI_LogBtn = 日志
        #SpaceAge_UI_ActiveVesselLog = 启用航天器日志
        #SpaceAge_UI_ClearBtn = 清空
        #SpaceAge_UI_Find = 搜寻
        #SpaceAge_UI_Add = 添加
        #SpaceAge_UI_Export = 导出
        #SpaceAge_UI_Body = 天体
        #SpaceAge_UI_ScoreManned = [载人] <<1>>
        #SpaceAge_UI_ScoreUnmanned = [远控] <<1>>
        #SpaceAge_UI_ScoreNone = —
        #SpaceAge_UI_TotalScore = 总得分: <<1>> <<1[点/点]>>
        #SpaceAge_UI_Chronicle = 编年史
        #SpaceAge_UI_Achievements = 成就
        #SpaceAge_UI_Score = 得分

        // Progress score report
        #SpaceAge_PS_Title = 成就
        #SpaceAge_PS_PointsAdded = 添加 <<1>> <<1[点/点]>>进度得分 .
        #SpaceAge_PS_Funds = 添加了 <<1>> 资金.
        #SpaceAge_PS_Science = 添加了 <<1>> 科学点数.
        #SpaceAge_PS_Reputation = 添加了 <<1>> 声望.
        #SpaceAge_PS_AchievementCompleted = 完成 <<1>> 成就!

        // Log vessel select dialog
        #SpaceAge_UI_Cancel = 取消
        #SpaceAge_UI_SelectVessel = 选择载具

        // Chronicle event descriptions
        #SpaceAge_CE_Launch_Crew = <<C:1>> 已发射，载人数: <<2>> .
        #SpaceAge_CE_Launch_NoCrew = <<C:1>> 已发射.
        #SpaceAge_CE_Takeoff_Crew = <<C:1>> 已从 <<2>> 起飞，载人数: <<3>>.
        #SpaceAge_CE_Takeoff_NoCrew = <<C:1>> 已从 <<2>> 起飞.
        #SpaceAge_CE_ReachSpace = <<C:1>> 进入太空.
        #SpaceAge_CE_Staging = <<C:1>> 启用分级 <<2>>.
        #SpaceAge_CE_Burn = <<C:1>> 在Δv = <<3>> m/s 的速度下于 <<2>> 完成点火.
        #SpaceAge_CE_Orbit = <<C:1>> 进入 <<2>> 的环绕轨道.
        #SpaceAge_CE_SOIChange = <<C:1>> 进入了 <<2>> 的引力范围.
        #SpaceAge_CE_Reentry = <<C:1>> 进入了 <<2>> 的大气层.
        #SpaceAge_CE_Docking = <<C:1>> 已与 <<2>> 完成对接.
        #SpaceAge_CE_Undocking = <<C:1>> 已与 <<2>> 对接分离.
        #SpaceAge_CE_Landing_Crew = <<C:1>> 已在 <<2>> 安全着陆，载人数: <<3>>.
        #SpaceAge_CE_Landing_NoCrew = <<C:1>> 已在 <<2>> 安全着陆.
        #SpaceAge_CE_Recovery_Crew = <<2>> 人的 <<C:1>> 已被安全回收 .
        #SpaceAge_CE_Recovery_NoCrew = <<C:1>> 已被安全回收.
        #SpaceAge_CE_ReturnFromOrbit = <<C:1>> 已从 <<2>> 的轨道上返回.
        #SpaceAge_CE_ReturnFromSurface = <<C:1>> 已从 <<2>> 的地面上返回.
        #SpaceAge_CE_Destroy_Body = <<C:1>> 在 <<2>> 上损毁.
        #SpaceAge_CE_Destroy_NoBody = <<C:1>> 已损毁.
        #SpaceAge_CE_Death = <<C:1>> 已死亡.
        #SpaceAge_CE_FlagPlant = <<C:1>> 已在 <<2>> 上插旗.
        #SpaceAge_CE_FacilityUpgraded = <<C:1>> 已升到 <<2>> 级.
        #SpaceAge_CE_StructureCollapsed = <<C:1>> 已倒塌.
        #SpaceAge_CE_TechnologyResearched = 已解锁 <<C:1>>.
        #SpaceAge_CE_AnomalyDiscovery =  已发现在 <<2>> 上的 <<C:1>> 异常点.
        #SpaceAge_CE_Achievement_Value = 已完成 <<C:1>> 成就 (<<2>>) !
        #SpaceAge_CE_Achievement_NoValue = 已完成 <<C:1>> 成就!
        #SpaceAge_CE_Achievement_Vessel_Value = <<C:1>> 完成了 <<2>> 成就 (<<3>>) !
        #SpaceAge_CE_Achievement_Vessel_NoValue = <<C:1>> 完成了 <<2>> 成就!
        #SpaceAge_CE_Unknown = 未定义事件 (<<1>>).

        // Achievements
        #SpaceAge_A_TotalIncome = 总收入
        #SpaceAge_A_TotalScience = 总科学点数收集
        #SpaceAge_A_TotalLaunches = 发射数量
        #SpaceAge_A_TotalMassLaunched = 发射总质量
        #SpaceAge_A_TotalCrewedLaunches = 载人任务发射量
        #SpaceAge_A_TotalCrewLaunched = 上天人员总量
        #SpaceAge_A_UniqueVesselsInSpace = 进入太空载具
        #SpaceAge_A_TotalVesselsLost = 损坏载具总数
        #SpaceAge_A_TotalFlags = 插旗数
        #SpaceAge_A_TotalAnomalies = 异常点发现
        #SpaceAge_A_TotalKerbalsLost = 死亡人员数
        #SpaceAge_A_TotalStructuresDestroyed = 航天中心设施倒塌数量
        #SpaceAge_A_HeaviestVessel = 发射质量最大
        #SpaceAge_A_MostExpensiveVessel = 发射成本最高
        #SpaceAge_A_MostComplexVessel = 发射部件数量最多
        #SpaceAge_A_MaxCrewInVessel = 载人数量最多
        #SpaceAge_A_MaxSimultaneousCrew = 最多任务人员
        #SpaceAge_A_FirstLaunch = 第一次发射
        #SpaceAge_A_FirstCrewedLaunch = 第一次载人发射
        #SpaceAge_A_FirstInSpace = 第一次进入太空
        #SpaceAge_A_FirstCrewInSpace = 第一次载人进入太空
        #SpaceAge_A_FirstRecovery = 第一次回收
        #SpaceAge_A_FirstDestroy = 第一次载具损毁
        #SpaceAge_A_FirstDeath = 第一次人员死亡
        #SpaceAge_A_UniqueVisits = 造访 <<1>> 次数
        #SpaceAge_A_UniqueCrewedVisits = 载人造访 <<1>> 次数
        #SpaceAge_A_UniqueOrbits = 环绕 <<1>> 总载具数
        #SpaceAge_A_UniqueCrewedOrbits = 载人环绕 <<1>> 总载具数
        #SpaceAge_A_TotalVesselsLostOnBody = 在 <<1>> 损毁的载具数量
        #SpaceAge_A_TotalLandings = <<1>> 着陆总次数
        #SpaceAge_A_TotalCrewedLandings = <<1>> 载人着陆总次数
        #SpaceAge_A_TotalAnomaliesOnBody = <<1>> 发现异常点
        #SpaceAge_A_HeaviestVesselInOrbit = 环绕 <<1>> 载具的最大质量
        #SpaceAge_A_HeaviestVesselLanded = 着陆 <<1>> 载具的最大质量
        #SpaceAge_A_FirstFlyby = 第一次飞越 <<1>>
        #SpaceAge_A_FirstCrewedFlyby = 第一次载人飞越 <<1>>
        #SpaceAge_A_FirstOrbit = 第一次进入 <<1>> 轨道
        #SpaceAge_A_FirstCrewedOrbit = 第一次载人进入 <<1>> 轨道
        #SpaceAge_A_FirstDocking = 第一次在 <<1>> 附近对接
        #SpaceAge_A_FirstReturnFromOrbit = 第一次从 <<1>> 的轨道上返回
        #SpaceAge_A_FirstCrewedReturnFromOrbit = 第一次从 <<1>> 的轨道上载人返回
        #SpaceAge_A_FirstReentry = 第一次从 <<1>> 大气再入
        #SpaceAge_A_FirstLanding = 第一次在 <<1>> 着陆
        #SpaceAge_A_FirstCrewedLanding = 第一次载人着陆在 <<1>>
        #SpaceAge_A_FirstReturnFromSurface = 第一次从 <<1>> 地面返回
        #SpaceAge_A_FirstCrewedReturnFromSurface = 第一次从 <<1>> 地面返回
        #SpaceAge_A_FirstFlag = 第一次在 <<1>> 插旗

        // Score categories
        #SpaceAge_Score_FlybySuborbital = 飞越 / 亚轨道
        #SpaceAge_Score_Orbit = 入轨
        #SpaceAge_Score_Docking = 对接
        #SpaceAge_Score_ReturnFromOrbit = 从轨道上返回
        #SpaceAge_Score_Landing = 着陆
        #SpaceAge_Score_ReturnFromSurface = 从地面上返回

        // Units representation
        #SpaceAge_Unit_Funds = £<<1>>
        #SpaceAge_Unit_Science = <<1>> <<1[点/点]>>
        #SpaceAge_Unit_Mass = <<1>> t
        #SpaceAge_Unit_Parts = <<1>> <<1[部件数/部件数]>>

        // Settings
        #SpaceAge_Settings_Title = 设置
        #SpaceAge_Settings_ShowAppLauncherButton = 显示原版功能按钮
        #SpaceAge_Settings_ShowAppLauncherButton_desc = 在游戏右侧显示功能按钮
        #SpaceAge_Settings_ShowNotifications = 显示通知
        #SpaceAge_Settings_ShowNotifications_desc = 当完成了新的成就时，停止时间加速并在屏幕上显示通知
        #SpaceAge_Settings_ChronicleLinesPerPage = 编年史每页记录数量
        #SpaceAge_Settings_ChronicleLinesPerPage_desc = 一页显示多少条记录
        #SpaceAge_Settings_NewestFirst = 优先最新
        #SpaceAge_Settings_NewestFirst_desc = 编年史中首先显示最新的记录
        #SpaceAge_Settings_AchievementsPerPage = 每页成就
        #SpaceAge_Settings_AchievementsPerPage_desc = 一页显示多少条记录
        #SpaceAge_Settings_UseStockDateTimeFormat = 使用原版日期/时间格式
        #SpaceAge_Settings_UseStockDateTimeFormat_desc = 使用原版格式显示日期时间 ("年3, 天45, 4:32") 取代 SpaceAge 的原格式 ("年03 天045 4:32")
        #SpaceAge_Settings_ImportStockAchievements = 导入原版成就
        #SpaceAge_Settings_ImportStockAchievements_desc = 尝试导入原版游戏追踪进度成就 (在已有存档中安装此 mod 时开启)
        #SpaceAge_Settings_TrackAchievements = 在编年史中显示获得成就
        #SpaceAge_Settings_TrackAchievements_desc = 在编年史中追踪并保存Space Age的成就
        #SpaceAge_Settings_TrackLaunch = 记录发射事件
        #SpaceAge_Settings_TrackLaunch_desc = 在编年史中记录并保存发射记录
        #SpaceAge_Settings_TrackReachSpace = 记录进入太空事件
        #SpaceAge_Settings_TrackReachSpace_desc = 在编年史中记录并保存进入太空事件
        #SpaceAge_Settings_TrackBurns = 记录点火 (载具日志)
        #SpaceAge_Settings_TrackBurns_desc = 记录并保存 (机动规划) 在日志中的点火记录. 可能会稍微影响性能
        #SpaceAge_Settings_MinBurnDuration = 最短记录点火时长, 秒
        #SpaceAge_Settings_MinBurnDuration_desc = 少于该设置时长的点火事件不会被记录
        #SpaceAge_Settings_TrackOrbit = 记录入轨事件
        #SpaceAge_Settings_TrackOrbit_desc = 在编年史中记录并保存进入轨道事件
        #SpaceAge_Settings_TrackReentry = 记录再入事件
        #SpaceAge_Settings_TrackReentry_desc = 在编年史中记录并保存大气再入事件
        #SpaceAge_Settings_TrackDocking = 记录对接事件
        #SpaceAge_Settings_TrackDocking_desc = 在编年史中记录并保存对接和对接脱离事件
        #SpaceAge_Settings_TrackSOIChange = 记录引力范围事件
        #SpaceAge_Settings_TrackSOIChange_desc = 在编年史中记录并保存脱离进入天体引力事件
        #SpaceAge_Settings_TrackLanding = 记录着陆事件
        #SpaceAge_Settings_TrackLanding_desc = 在编年史中记录并保存载具着陆事件
        #SpaceAge_Settings_TrackTakeoffs = 记录起飞事件(载具日志)
        #SpaceAge_Settings_TrackTakeoffs_desc = Save in the Ship Log takeoffs that are not launches (e.g. from other celestial bodies)
        #SpaceAge_Settings_MinHopDuration = Min Hop Duration to Track, s
        #SpaceAge_Settings_MinHopDuration_desc = Landings after hops shorter than this will be ignored
        #SpaceAge_Settings_TrackRecovery = 距离回收事件
        #SpaceAge_Settings_TrackRecovery_desc = Track and save vessel recovery events in the Chronicle
        #SpaceAge_Settings_TrackReturnFrom = 记录"从...返回"事件
        #SpaceAge_Settings_TrackReturnFrom_desc = Track and save returns from orbit/surface in the Chronicle
        #SpaceAge_Settings_TrackDestroy = 记录摧毁事件
        #SpaceAge_Settings_TrackDestroy_desc = Track and save destroy events in the Chronicle
        #SpaceAge_Settings_TrackDeath = 记录死亡事件
        #SpaceAge_Settings_TrackDeath_desc = Track and save deaths in the Chronicle
        #SpaceAge_Settings_TrackFlagPlant = 记录插旗事件
        #SpaceAge_Settings_TrackFlagPlant_desc = Track and save flag planings in the Chronicle
        #SpaceAge_Settings_TrackAnomalyDiscovery = 记录异常点发现事件
        #SpaceAge_Settings_TrackAnomalyDiscovery_desc = Track and save anomaly discoveries in the Chronicle
        #SpaceAge_Settings_TrackFacilityUpgraded = 记录设施升级事件
        #SpaceAge_Settings_TrackFacilityUpgraded_desc = Track and save facility upgrades in the Chronicle
        #SpaceAge_Settings_TrackStructureCollapsed = Track Structure Collapsed Events
        #SpaceAge_Settings_TrackStructureCollapsed_desc = Track and save structure collapses in the Chronicle
        #SpaceAge_Settings_TrackTechnologyResearched = 记录解锁科技节点事件
        #SpaceAge_Settings_TrackTechnologyResearched_desc = Track and save new researched technologies in the Chronicle
        #SpaceAge_Settings_FundsPerScore = Funds per Score Point
        #SpaceAge_Settings_FundsPerScore_desc = How much funds (money) are paid for every point of game score
        #SpaceAge_Settings_SciencePerScore = Science per Score Point
        #SpaceAge_Settings_SciencePerScore_desc = How much science is gained for every point of game score
        #SpaceAge_Settings_RepPerScore = Reputation per Score Point
        #SpaceAge_Settings_RepPerScore_desc = How many reputation points are gained for every point of game score
        #SpaceAge_Settings_DebugMode = Debug模式
        #SpaceAge_Settings_DebugMode_desc = 详细日志记录，提交bug反馈必须要有
        #SpaceAge_Settings_ResetSettings = 重置设置
        #SpaceAge_Settings_ResetSettings_desc = Check and quit to game if you want Space Age settings to be reverted to their default values
    }
}
